@media screen and (max-width: 479px) {

    .wrapper{
        width: 200px;
        height: auto;
    }

    .header{
        width: auto;
        height:auto ;
        padding: 20px 0 20px 0;
    }
    .header-inner{
        width: 60px;
        height: 160px;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 5px 0 5px 0;
        float: none;
    }

    .header-left,
    .header-center,
    .header-right{
        width: 40px;
        height: 40px;
        margin: 5px 0 5px 10px;
        float: none;
    }

    .left
    {
        float: none;
        width: 200px;
        height: 100px;

    }
    .right{
       
        width: 100%;
        height: auto;
    }

    .right-upper{
         width: 150px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;

    }
    .right-center{
          width: 150px;
        margin-left: auto;
        margin-right: auto;

    }
    .right-bottom{
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;

    }

    .right-upper-inner,
    .right-center-inner,
    .right-bottom-inner {
        width: 140px;
        margin:auto ;
    }

.footer{
        width: auto;
        height: 100px;
}
}
